<center>
<div id="box4">
	<h2>DELIVERY
	<br><span>Enter Your Details First</span></h2>

	<p>Hello Dear Customer! I know you are excited to have your online delivery but first please enter your details. You can start by clicking the button below.</p>
<%= link_to "Enter", new_customer_order_path, :class => "button-style" %>
</div>
</center>