<div id="box1">
<h2>AVANT GARDE EATERY
<br><span>THE FAMOUS EATERY IN TOWN</span></h2>
<ul class="style3"><li class="first"><p class="date"><a href="#">SINCE<b>2014</b></a></p></li><p id="desc">Avant Garde Eatery has been able to uphold it's virtue of excellence and quality as a legitimate diner, ever since it started. From the start of 2014, the restaurant has been successful in its own right.</p></ul>
<br><img src="assets/img_a.jpg"><br>
<%= link_to "Read more", "#", :class => "button-style-3" %>
</div>

<div id="box2">
<h2>AMBIENCE IS EXCELLENT
<br><span>Feel like you're going back in time</span></h2>
<center>
<img src="assets/inside_diner.jpg">
</center><br>
<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The restaurant is full of things that will make you feel happy and vibrant. It will make you reminisce the good ol' days. Surely, your stay here will be brilliant.</p>
</div>

<div id="box3">
<h2>FOOD IS EXQUISITE
<br><span>LOVE THE FOOD. BIG TIME.</span></h2>
<center><img src="assets/img_b.jpg"></center>
<br>
<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Of course, you should not forget about trying the food. The food of Avant Garde Eatery is definitely exquisite. The ingredients used for its food are of the best quality rendering the most brilliant taste. It's just delicious.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;What are you waiting for? Go to the restaurant now or make an order online!</p>
<%= link_to "Order Now", customer_orders_path , :class => "button-style-3" %>
</div>
