<div id="box4">
<center>
<h2>ORDER<br>
<span>ENTER THE QUANTITY</span></h2>
<p>Simply enter the quantity in the corresponding field and press the button if you're done.</p>
<%= render partial: "sub_orders/form", locals: { sub_order: @sub_order } %>
</center>
</div>